/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

h1 {
  color: #333;
}

.student-info {
  padding-top: 60px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pizza-description {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
}

.option input {
  margin-right: 5px;
}

/* Additional styling for radio buttons */
.option input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

.option input[type="radio"]:checked {
  background-color: #4caf50;
  border: 2px solid #4caf50;
}

.address {
  resize: none;
  height: 120px;
}
